<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.choogoomoneyna.choogoomoneyna_be.mission.mapper.MissionMapper">

    <!-- ResultMap -->
    <resultMap id="MissionResultMap" type="com.choogoomoneyna.choogoomoneyna_be.mission.vo.MissionVO">
        <id property="id" column="mission_id"/>
        <result property="choogooMiName" column="choogoomi_name"/>
        <result property="missionTitle" column="mission_title"/>
        <result property="missionContent" column="mission_content"/>
        <result property="missionScore" column="mission_score"/>
        <result property="missionType" column="mission_type"/>
        <result property="missionLimitAmount" column="mission_limit_amount"/>
    </resultMap>

    <!-- INSERT -->
    <insert id="insertMission" parameterType="com.choogoomoneyna.choogoomoneyna_be.mission.vo.MissionVO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO missions (choogoomi_name, mission_title, mission_content, mission_score, mission_type, mission_limit_amount)
        VALUES (#{choogooMiName}, #{missionTitle}, #{missionContent}, #{missionScore}, #{missionType}, #{missionLimitAmount})
    </insert>

    <!-- SELECT by missionId -->
    <select id="findMissionByMissionId" parameterType="int" resultMap="MissionResultMap">
        SELECT *
        FROM missions
        WHERE mission_id = #{missionId}
    </select>

    <!-- GET Score Only -->
    <select id="getMissionScore" parameterType="int" resultType="int">
        SELECT mission_score
        FROM missions
        WHERE mission_id = #{missionId}
        LIMIT 1
    </select>

    <!--GET missionLimitAmount only -->
    <select id="getMissionLimitAmount" parameterType="int" resultType="int">
        SELECT mission_limit_amount
        FROM missions
        WHERE mission_id = #{missionId}
    </select>

    <select id="getMissionType" resultType="String">
        SELECT mission_type
        FROM missions
        where mission_id = #{missionId}
    </select>

    <select id="getMissionTitle" resultType="String">
        SELECT mission_title
        FROM missions
        where mission_id = #{missionId}
    </select>

    <select id="getMissionContent" resultType="String">
        SELECT mission_content
        FROM missions
        where mission_id = #{missionId}
    </select>

</mapper>
