<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.choogoomoneyna.choogoomoneyna_be.user.mapper.UserMainInfoMapper">

    <resultMap id="userMainResponseResultMap" type="com.choogoomoneyna.choogoomoneyna_be.user.vo.UserMainInfoVO">
        <id property="userId" column="user_id"/>
        <result property="choogooMi" column="choogoomi_name"/>
        <result property="nickname" column="nickname"/>
        <result property="userScore" column="score_value"/>
        <result property="userRanking" column="current_ranking"/>
        <result property="isLevelUp" column="is_level_up"/>
    </resultMap>

    <select id="findUserMainResponseByUserIdAndRoundNumber" parameterType="map"
            resultMap="userMainResponseResultMap">
        SELECT
            u.user_id,
            u.choogoomi_name,
            u.nickname,
            s.score_value,
            r.current_ranking,
            s.is_level_up
        FROM users u
                 LEFT JOIN scores s
                           ON u.user_id = s.user_id
                               AND s.round_number = #{roundNumber}
                 LEFT JOIN rankings r
                           ON u.user_id = r.user_id
                               AND r.round_number = #{roundNumber}
        WHERE u.user_id = #{userId}
    </select>

</mapper>
