<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.choogoomoneyna.choogoomoneyna_be.matching.mapper.UserMatchingHistoryMapper">

    <!-- ResultMap 정의 -->
    <resultMap id="UserMatchingHistoryResultMap" type="com.choogoomoneyna.choogoomoneyna_be.matching.vo.UserMatchingHistoryVO">
        <id property="id" column="user_matching_history_id"/>
        <result property="userId" column="user_id"/>
        <result property="matchingId" column="matching_id"/>
        <result property="roundNumber" column="round_number"/>
        <result property="matchingResult" column="matching_result"/>
        <result property="regDate" column="reg_date"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <!-- INSERT 쿼리 -->
    <insert id="insertUserMatchingHistory" parameterType="com.choogoomoneyna.choogoomoneyna_be.matching.vo.UserMatchingHistoryVO">
        INSERT INTO user_matching_histories (
            user_id, matching_id, round_number, matching_result
        )
        VALUES (
                   #{userId}, #{matchingId}, #{roundNumber}, #{matchingResult}
               )
    </insert>

    <!-- SELECT 쿼리 -->
    <select id="findAllUserMatchingHistoryByUserId" parameterType="long" resultMap="UserMatchingHistoryResultMap">
        SELECT
            user_matching_history_id, user_id, matching_id, round_number, matching_result,
            reg_date, update_date
        FROM user_matching_histories
        WHERE user_id = #{userId}
        ORDER BY round_number DESC
    </select>

</mapper>
